<configuration>
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/admin/logs/log.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/home/admin/logs/log.log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 1GB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>1GB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root>
		<appender-ref ref="ROLLING" />
	</root>
</configuration>
